<div class="home">
  <div class="content">
    <mat-card>
      <h2>Welcome to TechOpenSolve!</h2>
      <mat-divider></mat-divider>
      <h3>At TechOpenSolve, we introduce a new idea of treating the tech industry like an Open Source project.</h3>
      <mat-divider></mat-divider>
      <p>As developers, we are accustomed to tackling complex problems through code. At TechOpenSolve, we extend this
        approach to address issues plaguing the tech industry. Our goal is not just to find solutions but to make
        tangible improvements in the industry's landscape.</p>
      <h2>Our Approach</h2>
      <mat-divider></mat-divider>
      <h3>Merging Real-Life Situations with Open Source Practices</h3>
      <mat-divider></mat-divider>
      <p>TechOpenSolve introduces a paradigm shift in how we approach problems within the tech industry. We bridge the
        gap between real-life situations and open-source practices, recognizing that the principles of collaboration,
        transparency, and shared responsibility can be powerful tools for effecting change.</p>
      <h3>Repositories</h3>
      <mat-divider></mat-divider>
      <p>Repos in TechOpenSolve represent different categories of real-life issues encountered within the tech industry.
        Each repository focuses on a specific aspect of the industry. Repositories are visualized in the sidenav menu
      </p>
      <h3>Documenting Real-Life Issues</h3>
      <mat-divider></mat-divider>
      <p>At TechOpenSolve, "issues" refer to real-life challenges and problems faced by individuals in the tech
        industry. Before an issue is documented, it undergoes rigorous discussion to ensure it represents a genuine
        problem affecting individuals in the industry.</p>
      <h3>Fact-Based Actionable Problem-Solving</h3>
      <mat-divider></mat-divider>
      <p>At TechOpenSolve, we deal with facts, not opinions or suggestions, since opinions and suggestions do not solve
        real-life issues. What counts towards solving an issue is someone making a difference in real life.</p>
      <h3>Issue Resolution - Continuous Improvement</h3>
      <mat-divider></mat-divider>
      <p>TechOpenSolve views issue resolution as a continuous process rather than a one-time event. Our goal is not to
        close an issue fast and move on to the next, but to engage in ongoing actions aimed at making real-life
        improvements within the tech industry.</p>
      <h3>What Counts Towards Issue Resolution</h3>
      <mat-divider></mat-divider>
      <p>Contributions towards resolving an issue can take various forms, including:</p>
      <ul>
        <li>Implementing practical solutions in real-life scenarios.</li>
        <li>Writing blog posts, creating videos, or other ways of advocating for change within organizations or
          communities.</li>
        <li>Collaborating with others to brainstorm and implement innovative approaches that bring a positive impact.
        </li>
        <li>Providing jobs, support, guidance, or resources to individuals or groups affected by the issue.</li>
      </ul>
      <h3>Recognizing Contributions</h3>
      <mat-divider></mat-divider>
      <p>Every individual, company, or organization that contributes positively toward resolving an issue is
        acknowledged and given credit for their efforts. Larger contributions will be featured on the TechOpenSolve
        website, showcasing the impactful work of those dedicated to improving the tech industry. Small actions that
        make a difference are also recognized and appreciated.</p>
      <h3>Assigning Issues</h3>
      <mat-divider></mat-divider>
      <p>After a contributor has been acknowledged and given recognition in a comment, they can also leave a short
        comment on the issue. If they choose to do so, they can be assigned to the issue.</p>
      <p>Only acknowledged contributors are eligible for assignment. Once assigned, the contributor is not required to
        take further action, as the assignment signifies their existing contribution.</p>
      <p>Up to 10 people can be assigned to an issue at a time. Encouraging additional assignees is a goal, as it
        demonstrates collective efforts toward resolving the issue.</p>
      <h3>Let's Make Real-Life Better, Together</h3>
      <mat-divider></mat-divider>
      <p>TechOpenSolve is more than just a GitHub organization — it's a movement driven by the collective efforts of
        people committed to making meaningful improvements. Join us in our mission to address real-life challenges and
        create a more inclusive, supportive, and innovative tech industry for all.</p>
    </mat-card>
  </div>
</div>

