.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.is-mobile {
    mat-toolbar {
      position: fixed;
      z-index: 2;
    }
    .sidenav-container {
      flex: 1 0 auto;
    }
  }

  mat-toolbar {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    box-shadow: 0 0.1rem 0.5rem #0f0f0f51;
    z-index: 2;

    .app-logo {
      width: 8rem;
      a {
        display: flex;
        align-items: center;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }

    }
  }

  .sidenav-container {
    flex: 1;
  }
}
